<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button class="homeButt" (click)="paniers()">
        <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons (click)="reload()">
      <button class="homeButt">
        <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="idDeLaPizza"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="locateId()"
    (ionCancel)="locateId()">
  </ion-searchbar>


  <h4 *ngIf="itemSearched"> Résultats de la recherche : </h4>
  <ion-card *ngFor="let items of itemSearched">
    <img [src]="items.picture" *ngIf="items.picture" />
    <ion-card-content>
      <ion-card-title>
        {{ items.name }}
      </ion-card-title>
      <p>
        {{ items.desc }}
      </p>
    </ion-card-content>
    <ion-buttons align="center">
      <button ion-button color="light"> <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        &nbsp;Ajouter au panier
      </button>
    </ion-buttons>
  </ion-card>


  <ion-card *ngFor="let items of stockItem">
    <img [src]="items.picture" *ngIf="items.picture" />
    <ion-card-content>
      <ion-card-title>
        {{ items.name }}
      </ion-card-title>
      <p>
        {{items.desc}}
      </p>
    </ion-card-content>
    <ion-buttons align="center">
      <button ion-button color="light" (click)="ajouterPanier($event, items)"> J'ai faim !&nbsp;
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-card>


</ion-content>
