
@font-face {
  font-family: 'Be Kind To The Earth';
  font-weight: 400 !important;
  font-style: normal;
  src: url('../assets/fonts/Be Kind To The Earth.otf');
}


ion-content {
  background-image: url("../assets/imgs/back.jpg")!important;
  background-size: 100% 100%;
}

.homeButt {
  font-size: 30px;
}

.item {
  color: #ecf0f1;
}

.item-ios {
  background-color: transparent !important;
}

.tabbar, show-tabbar{
  background-color: black!important;
}

.toolbar-background{
  background-color: #d9d9d9 !important;

}

.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  color: orangered !important;
}

.alert-title, .alert-message, .alert-ios, .alert-checkbox-label, .button-inner{
  color: orangered !important;
}

.alert-ios [aria-checked=true] .alert-checkbox-icon {
  border-color: orangered !important;
  background-color: orangered !important;
}

.butt {
  color:#ffffff !important;
}


/* SearchBar */

ion-searchbar{
  margin-top: -16px;
  width: 112%;
  margin-left: -16px;
}
